.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app__control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.app__elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}